body 
{ 
		background-image: url('back.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;		
}		
.page_title
{
	margin-top:20px;
	margin-left:-20px;
	float:left;
	background-color:#ff6666;
	border-radius:0px 7px 7px 0px;
	height:4.0em;
	width:30em;
	opacity:0.5;
}
.page_title span
{
	display:inline-block;
	margin-top:0.4em;
	margin-left:2em;
	font-family:Courier New;
	color:black;
	text-shadow:1px 1px 2px #000000; 
	font-size:2em;
}
.page_title:hover
{
	opacity:0.8;
	text-shadow:0px 0px 0px #000000;
}
#content
{
	width:100%;
	margin-top:5em;
	clear:both;
	display:inline-block;
}
.modal-header {
    background-color: cornflowerblue;
    color:white;
}
